* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
  body main {
    min-height: 300px;
  }
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

main {
  background-color: #F5F5F5;
  min-height: 400px;
  max-width: 700px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.start-section {
  width: 75%;
}

.title {
  font-size: 1.75rem;
  margin: 0;
}

.user-select-questions-count {
  text-align:center;
  
  &__input {
    font-size: 1.2em;
    background-color: rgb(226, 221, 221);
    border: none;
    text-align: center;
    border-radius: 6px;
    width: 70px;
  }
}

.start-button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: rgba(77, 91, 158, 1);
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;

  &:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
}

.questions-container {
  display: flex;
  flex-direction: column;
}

.question {
  margin-bottom: 6px;
  margin: 6px;
  padding: 14px 10px;
  border-bottom: 0px solid #000;
  border-radius: 12px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);

  &:nth-of-type(2n) {
    background-color: rgba(214, 219, 245, 0.4);
  }
}

.question__header {
  font-size: 1.1rem;
}

.question__difficulty {
  border: 0px solid #000;
  border-radius: 56px;
  padding: 4px;

  &--medium {
    background-color: rgba(233, 196, 106, 0.5);
  }

  &--hard {
    background-color: rgba(231, 111, 81, 0.5);
  }

  &--easy {
    background-color: rgb(167, 201, 87, 0.5);
  }
}

.question__body {
  font-size: 1.2em;
  padding: 4px;
  margin: 4px 0 6px 6px;
}

.question__answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.answer {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin: 0 4px 4px 0;
  padding: 4px;
  max-width: 100px;
  min-width: 80px;
  font-weight: 100;
  font-size: 1em;

  &--selected {
    background-color: rgba(214, 219, 245, 1);
  }

  &--incorrect {
    background-color: rgba(231, 111, 81, 0.3);
  }

  &--correct {
    background-color: rgb(167, 201, 87, 0.3);
  }

  &:hover {
    background-color:  rgba(214, 219, 245, 1);
  }
}

.result-message {
  font-size: 1.2em;
  // margin: 10px;
  padding: 10px;
}

.button-validate {
  height: 40px;
  min-width: 120px;
  border: none;
  border-radius: 6px;
  background-color: rgba(77, 91, 158, 1);
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;

  &:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
}
